<hr />
<h3><%= title %></h3>
<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Sale.human_attribute_name(:id) %></th>
        <th><%= Sale.human_attribute_name(:client_id) %></th>
        <th><%= Sale.human_attribute_name(:payment_method) %></th>
        <th><%= Sale.human_attribute_name(:payment_division) %></th>
        <th><%= Sale.human_attribute_name(:payment_division_sell_price) %></th>
        <th><%= Sale.human_attribute_name(:discount) %></th>
        <th><%= Sale.human_attribute_name(:status) %></th>
        <th><%= Sale.human_attribute_name(:amount_sold) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% sales.each do |sale| %>
        <tr class="<%= sale_tr_class(sale) %>">
          <td><%= link_to sale.id, sale_path(sale) %></td>
          <td><%= sale.client.name %></td>
          <td><%= sale_payment_method sale.payment_method %></td>
          <td><%= sale.payment_division %></td>
          <td><%= sale.payment_division_sell_price %></td>
          <td><%= sale.discount %></td>
          <td><%= sale_status sale.status %></td>
          <td><u><strong><%= sale.amount_sold %></strong></u></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_sale_path(sale), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
