<div class="page-header">
  <h1>Resumo de Operações</h1>
</div>

<h3>Peças em condicional com os clientes para pegar HOJE</h3>
<div class="well">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= PreSale.human_attribute_name(:id) %></th>
      <th><%= PreSale.human_attribute_name(:client_id) %></th>
      <th><%= PreSale.human_attribute_name(:receive_pre_sale_at) %></th>
      <th><%= PreSale.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pre_sales_receive_today.each do |pre_sale| %>
      <tr class="<%= 'danger' if pre_sale.receive_pre_sale_at < Date.today %>">
        <td><%= link_to pre_sale.id, pre_sale_path(pre_sale) %></td>
        <td><%= pre_sale.client.name %></td>
        <td><u><strong><%=l pre_sale.receive_pre_sale_at, format: :long %></strong></u></td>
        <td>
        <%= pre_sale_status pre_sale.status %>
        <% if pre_sale.receive_pre_sale_at < Date.today %>
        <strong>Atrasado</strong>
        <% end -%>
        </td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      pre_sale, :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<hr />
<h3>Levar condicional para os clientes HOJE</h3>
<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= PreSale.human_attribute_name(:id) %></th>
        <th><%= PreSale.human_attribute_name(:client_id) %></th>
        <th><%= PreSale.human_attribute_name(:send_pre_sale_at) %></th>
        <th><%= PreSale.human_attribute_name(:status) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @pre_sales_send_today.each do |pre_sale| %>
        <tr class="<%= 'danger' if pre_sale.send_pre_sale_at < Date.today.end_of_day %>">
          <td><%= link_to pre_sale.id, pre_sale_path(pre_sale) %></td>
          <td><%= pre_sale.client.name %></td>
          <td><u><strong><%=l pre_sale.send_pre_sale_at, format: :long %></strong></u></td>
          <td>
          <%= pre_sale_status pre_sale.status %>
          <% if pre_sale.send_pre_sale_at < Date.today.end_of_day %>
          <strong>Atrasado</strong>
          <% end -%>
          </td>
          <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        pre_sale, :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr />
<h3>Tarefas de rua para hoje</h3>
  <div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= StreetJob.human_attribute_name(:id) %></th>
        <th><%= StreetJob.human_attribute_name(:status) %></th>
        <th><%= StreetJob.human_attribute_name(:operation_type) %></th>
        <th><%= StreetJob.human_attribute_name(:scheduled_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @street_jobs_today.each do |street_job| %>
        <tr>
          <td><%= link_to street_job.id, street_job_path(street_job) %></td>
          <td><%= street_job_status street_job.status %></td>
          <td><%= street_job_operation_type street_job.operation_type %></td>
          <td><u><strong><%=l street_job.scheduled_at, format: :long %></strong></u></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_street_job_path(street_job), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div class="well">
  <h2>Vendas</h2>
  <%= render partial: "sales", locals: {sales: @sales_today, title: "Hoje: #{@sales_today.to_a.sum{|t| t.amount_sold}}"} %>
  <%= render partial: "sales", locals: {sales: @sales_yesterday, title: "Ontem: #{@sales_yesterday.to_a.sum{|t| t.amount_sold}}"} %>
  <%= render partial: "sales", locals: {sales: @sales_week, title: "Semana: #{@sales_week.to_a.sum{|t| t.amount_sold}}"} %>
</div>

<div class="well">
  <h2>Caixas</h2>
  <%= render partial: "daily_cashes", locals: {daily_cashes: @daily_cashes, title: "Hoje: #{@daily_cashes.sum(:amount)}"} %>
  <%= render partial: "daily_cashes", locals: {daily_cashes: @daily_cashes_yesterday, title: "Ontem: #{@daily_cashes_yesterday.sum(:amount)}"} %>
  <%= render partial: "daily_cashes", locals: {daily_cashes: @daily_cashes_week, title: "Semana: #{@daily_cashes_week.sum(:amount)}"} %>
</div>
