<%= simple_form_for @daily_cash, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :sale, collection: Sale.to_receive.order(:sell_at) %>
  <%= error_span(@daily_cash[:sale_id]) %>
  <%= f.input :amount %>
  <%= error_span(@daily_cash[:amount]) %>
  <%= f.input :receive_type, collection: daily_cash_receive_types_options %>
  <%= error_span(@daily_cash[:receive_type]) %>
  <%= f.input :created_at %>
  <%= error_span(@daily_cash[:created_at]) %>
  <%= f.input :annotation %>
  <%= error_span(@daily_cash[:annotation]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                daily_cashes_path, :class => 'btn btn-default' %>
<% end %>
