<div class="page-header">
  <h1><%=t '.title', :default => DailyCash.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= DailyCash.human_attribute_name(:id) %></th>
      <th><%= DailyCash.human_attribute_name(:sale_id) %></th>
      <th><%= DailyCash.human_attribute_name(:receive_type) %></th>
      <th><%= DailyCash.human_attribute_name(:amount) %></th>
      <th><%= DailyCash.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @daily_cashes.each do |daily_cash| %>
      <tr>
        <td><%= link_to daily_cash.id, daily_cash_path(daily_cash) %></td>
        <td><%= daily_cash.sale.try(:name) %></td>
        <td><%= daily_cash_receive_type daily_cash.receive_type %></td>
        <td><%= daily_cash.amount %></td>
        <td><%=l daily_cash.created_at, format: :long %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_daily_cash_path(daily_cash), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      daily_cash_path(daily_cash),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_daily_cash_path,
            :class => 'btn btn-primary' %>
