<%- model_class = DailyCash -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sale_id) %>:</strong></dt>
  <dd><%= @daily_cash.sale_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:receive_type) %>:</strong></dt>
  <dd><%= @daily_cash.receive_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @daily_cash.amount %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              daily_cashes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_daily_cash_path(@daily_cash), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              daily_cash_path(@daily_cash),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
