<%= simple_nested_form_for @pre_sale, wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.input :client_name, as: :string, input_html: {data: { autocomplete: autocomplete_client_name_pre_sales_path }} %>
  <%= error_span(@pre_sale[:client_id]) %>
  <div class="well">
    <h4>Produtos</h4>
    <table class="table table-striped table-bordered" id="pre_sale_products">
      <thead>
        <tr>
          <th class="col-sm-3"><%= PreSaleProduct.human_attribute_name(:product) %></th>
          <th class="col-sm-3"><%= PreSaleProduct.human_attribute_name(:detail) %></th>
          <th class="col-sm-2"><%= PreSaleProduct.human_attribute_name(:price) %></th>
          <th class="col-sm-2"><%= PreSaleProduct.human_attribute_name(:quantity) %></th>
          <th class="col-sm-2"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <%= f.fields_for :pre_sale_products, :wrapper => false do |pre_sale_product_form| %>
      <tr class="fields">
        <td><%= pre_sale_product_form.text_field :product_name, data: { autocomplete: autocomplete_product_name_pre_sales_path } %></td>
        <td><%= pre_sale_product_form.text_field :detail %></td>
        <td><%= pre_sale_product_form.text_field :price %></td>
        <td><%= pre_sale_product_form.text_field :quantity %></td>
        <td><%= pre_sale_product_form.link_to_remove "Remover", class: 'btn btn-danger btn-xs' %></td>
      </tr>
      <% end %>
    </table>
    <p><%= f.link_to_add "Adicionar produto", :pre_sale_products, class: 'btn btn-xs btn-primary', data: { target: "#pre_sale_products" } %></p>
  </div>

  <%= f.input :send_pre_sale_at, include_blank: true%>
  <%= error_span(@pre_sale[:send_pre_sale_at]) %>
  <%= f.input :receive_pre_sale_at %>
  <%= error_span(@pre_sale[:receive_pre_sale_at]) %>
  <%= f.input :payment_method, collection: sale_payment_methods_options %>
  <%= error_span(@pre_sale[:payment_method]) %>
  <%= f.input :annotation %>
  <%= error_span(@pre_sale[:annotation]) %>
  <%= f.input :status, collection: pre_sale_statuses_options %>
  <%= error_span(@pre_sale[:status]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pre_sales_path, :class => 'btn btn-default' %>
<% end %>
