<div class="page-header">
  <h1><%=t '.title', :default => PreSale.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= PreSale.human_attribute_name(:id) %></th>
      <th><%= PreSale.human_attribute_name(:client_id) %></th>
      <th><%= PreSale.human_attribute_name(:send_pre_sale_at) %></th>
      <th><%= PreSale.human_attribute_name(:receive_pre_sale_at) %></th>
      <th><%= PreSale.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pre_sales.each do |pre_sale| %>
      <tr>
        <td><%= link_to pre_sale.id, pre_sale_path(pre_sale) %></td>
        <td><%= pre_sale.client.name %></td>
        <td><%= l(pre_sale.send_pre_sale_at, format: :long) if pre_sale.send_pre_sale_at %></td>
        <td><%= l(pre_sale.receive_pre_sale_at, format: :long) %></td>
        <td><%= pre_sale_status pre_sale.status %></td>
        <td>
          <div class="btn-group">
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      pre_sale, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pre_sale_path(pre_sale), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pre_sale_path(pre_sale),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pre_sale_path,
            :class => 'btn btn-primary' %>
