<%- model_class = PreSale -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => PreSale.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
