<div class="page-header">
  <h1><%=t '.title', :default => PreSale.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= PreSale.human_attribute_name(:client) %>:</strong></dt>
  <dd><%= @pre_sale.client.name %></dd>
  <dt><strong><%= PreSale.human_attribute_name(:send_pre_sale_at) %>:</strong></dt>
  <dd><%= l(@pre_sale.send_pre_sale_at, format: :long) if @pre_sale.send_pre_sale_at %></dd>
  <dt><strong><%= PreSale.human_attribute_name(:receive_pre_sale_at) %>:</strong></dt>
  <dd><%= l @pre_sale.receive_pre_sale_at, format: :long %></dd>
  <dt><strong><%= PreSale.human_attribute_name(:payment_method) %>:</strong></dt>
  <dd><%= @pre_sale.payment_method %></dd>
  <dt><strong><%= PreSale.human_attribute_name(:annotation) %>:</strong></dt>
  <dd><%= @pre_sale.annotation %></dd>
  <dt><strong><%= PreSale.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= pre_sale_status @pre_sale.status %></dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3"><%= PreSaleProduct.human_attribute_name(:product) %></th>
      <th class="col-sm-3"><%= PreSaleProduct.human_attribute_name(:detail) %></th>
      <th class="col-sm-2"><%= PreSaleProduct.human_attribute_name(:price) %></th>
      <th class="col-sm-2"><%= PreSaleProduct.human_attribute_name(:quantity) %></th>
    </tr>
  </thead>
  <% @pre_sale.pre_sale_products.each do |pre_sale_product| %>
  <tr>
    <td><%= pre_sale_product.product.name %></td>
    <td><%= pre_sale_product.detail %></td>
    <td><%= pre_sale_product.price %></td>
    <td><%= pre_sale_product.quantity %></td>
  </tr>
  <% end %>
</table>
<div class="well">
<h3>Aproveite para atualizar os dados do cliente</h3>
<%= simple_form_for @pre_sale.client, wrapper: :horizontal_input_group, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@pre_sale.client[:name]) %>
  <%= f.input :phone %>
  <%= error_span(@pre_sale.client[:phone]) %>
  <%= f.input :mobile %>
  <%= error_span(@pre_sale.client[:mobile]) %>
  <%= f.input :email %>
  <%= error_span(@pre_sale.client[:email]) %>
  <%= f.input :work %>
  <%= error_span(@pre_sale.client[:work]) %>
  <%= f.input :work_address %>
  <%= error_span(@pre_sale.client[:work_address]) %>
  <%= f.input :work_phone %>
  <%= error_span(@pre_sale.client[:work_phone]) %>
  <%= f.input :best_day %>
  <%= error_span(@pre_sale.client[:best_day]) %>

  <div class="form-actions col-sm-offset-3">
    <%= f.button :submit, :class => 'btn' %>
  </div>
<% end %>
</div>

<div class="btn-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
                pre_sales_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_pre_sale_path(@pre_sale), :class => 'btn btn-default' %>
  <% pre_sale_statuses.each do |status, text| %>
    <%= link_to text,
                update_status_pre_sale_path(@pre_sale, status: status), :class => 'btn btn-primary' %>
  <% end -%>
</div>
