<%= simple_form_for @distributor, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@distributor[:name]) %>
  <%= f.input :contact %>
  <%= error_span(@distributor[:contact]) %>
  <%= f.input :contact_phone %>
  <%= error_span(@distributor[:contact_phone]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                distributors_path, :class => 'btn btn-default' %>
<% end %>
