<h1><%= I18n.t('notifier.send_pre_sale.subject')%></h1>

<p>
  O condicional <u><strong><%= link_to "##{@pre_sale.id}", pre_sale_url(@pre_sale) %></strong></u> deve ser enviado ao cliente dia <strong><u><%= I18n.l(@pre_sale.send_pre_sale_at, format: :long) %></u></strong><br />
  Os dados para entrar em contato com o cliente <strong><u><%= @pre_sale.client.name %></u></strong> são:
</p>

<div class="well">
  <dl class="dl-horizontal">
    <dt><strong><%= Client.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @pre_sale.client.name %></dd>
    <dt><strong><%= Client.human_attribute_name(:phone) %>:</strong></dt>
    <dd><%= @pre_sale.client.phone %></dd>
    <dt><strong><%= Client.human_attribute_name(:mobile) %>:</strong></dt>
    <dd><%= @pre_sale.client.mobile %></dd>
    <dt><strong><%= Client.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @pre_sale.client.email %></dd>
    <dt><strong><%= Client.human_attribute_name(:work) %>:</strong></dt>
    <dd><%= @pre_sale.client.work %></dd>
    <dt><strong><%= Client.human_attribute_name(:work_address) %>:</strong></dt>
    <dd><%= @pre_sale.client.work_address %></dd>
    <dt><strong><%= Client.human_attribute_name(:work_phone) %>:</strong></dt>
    <dd><%= @pre_sale.client.work_phone %></dd>
    <dt><strong><%= Client.human_attribute_name(:best_day) %>:</strong></dt>
    <dd><%= @pre_sale.client.best_day %></dd>
  </dl>
</div>


<h2>Produtos</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3"><%= PreSaleProduct.human_attribute_name(:product) %></th>
      <th class="col-sm-3"><%= PreSaleProduct.human_attribute_name(:detail) %></th>
      <th class="col-sm-2"><%= PreSaleProduct.human_attribute_name(:price) %></th>
      <th class="col-sm-2"><%= PreSaleProduct.human_attribute_name(:quantity) %></th>
    </tr>
  </thead>
  <% @pre_sale.pre_sale_products.each do |pre_sale_product| %>
  <tr>
    <td><%= pre_sale_product.product.name %></td>
    <td><%= pre_sale_product.detail %></td>
    <td><%= pre_sale_product.price %></td>
    <td><%= pre_sale_product.quantity %></td>
  </tr>
  <% end %>
</table>
