<h1><%= I18n.t('notifier.street_job.subject')%></h1>

<p>
  Foi criada a tarefa diária <u><strong><%= link_to "##{@street_job.id}", street_job_url(@street_job) %></strong></u> para o dia <strong><u><%= I18n.l(@street_job.scheduled_at, format: :long) %></u></strong><br />
  As informações da mesma são:
</p>

<div class="well">
  <dl class="dl-horizontal">
    <dt><strong><%= StreetJob.human_attribute_name(:jobable_id) %>:</strong></dt>
    <dd><%= @street_job.jobable_id %></dd>
    <dt><strong><%= StreetJob.human_attribute_name(:jobable_type) %>:</strong></dt>
    <dd><%= @street_job.jobable_type %></dd>
    <dt><strong><%= StreetJob.human_attribute_name(:annotation) %>:</strong></dt>
    <dd><%= @street_job.annotation %></dd>
    <dt><strong><%= StreetJob.human_attribute_name(:scheduled_at) %>:</strong></dt>
    <dd><%= l @street_job.scheduled_at, format: :long %></dd>
    <dt><strong><%= StreetJob.human_attribute_name(:operation_type) %>:</strong></dt>
    <dd><%= street_job_operation_type @street_job.operation_type %></dd>
    <dt><strong><%= StreetJob.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= street_job_status @street_job.status %></dd>
  </dl>
</div>
