<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@client[:name]) %>
  <%= f.input :phone %>
  <%= error_span(@client[:phone]) %>
  <%= f.input :mobile %>
  <%= error_span(@client[:mobile]) %>
  <%= f.input :email %>
  <%= error_span(@client[:email]) %>
  <%= f.input :work %>
  <%= error_span(@client[:work]) %>
  <%= f.input :work_address %>
  <%= error_span(@client[:work_address]) %>
  <%= f.input :work_phone %>
  <%= error_span(@client[:work_phone]) %>
  <%= f.input :best_day %>
  <%= error_span(@client[:best_day]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn btn-default' %>
<% end %>
