<%= simple_form_for @pre_sale_product, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :pre_safe_id %>
  <%= error_span(@pre_sale_product[:pre_safe_id]) %>
  <%= f.input :product_id %>
  <%= error_span(@pre_sale_product[:product_id]) %>
  <%= f.input :price %>
  <%= error_span(@pre_sale_product[:price]) %>
  <%= f.input :quantity %>
  <%= error_span(@pre_sale_product[:quantity]) %>
  <%= f.input :detail %>
  <%= error_span(@pre_sale_product[:detail]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pre_sale_products_path, :class => 'btn btn-default' %>
<% end %>
