<%- model_class = PreSaleProduct -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pre_safe_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:detail) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pre_sale_products.each do |pre_sale_product| %>
      <tr>
        <td><%= link_to pre_sale_product.id, pre_sale_product_path(pre_sale_product) %></td>
        <td><%= pre_sale_product.pre_safe_id %></td>
        <td><%= pre_sale_product.product_id %></td>
        <td><%= pre_sale_product.price %></td>
        <td><%= pre_sale_product.quantity %></td>
        <td><%= pre_sale_product.detail %></td>
        <td><%=l pre_sale_product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pre_sale_product_path(pre_sale_product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pre_sale_product_path(pre_sale_product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pre_sale_product_path,
            :class => 'btn btn-primary' %>
