<%- model_class = PreSaleProduct -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:pre_safe_id) %>:</strong></dt>
  <dd><%= @pre_sale_product.pre_safe_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @pre_sale_product.product_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @pre_sale_product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @pre_sale_product.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:detail) %>:</strong></dt>
  <dd><%= @pre_sale_product.detail %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              pre_sale_products_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pre_sale_product_path(@pre_sale_product), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pre_sale_product_path(@pre_sale_product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
