<%= simple_form_for @street_job, wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.input :annotation %>
  <%= error_span(@street_job[:annotation]) %>
  <%= f.input :scheduled_at %>
  <%= error_span(@street_job[:scheduled_at]) %>
  <%= f.input :operation_type, collection: street_job_operation_types_options %>
  <%= error_span(@street_job[:operation_type]) %>
  <%= f.input :status, collection: street_job_statuses_options %>
  <%= error_span(@street_job[:status]) %>


  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                street_jobs_path, :class => 'btn btn-default' %>
<% end %>
