<div class="page-header">
  <h1><%=t '.title', :default => StreetJob.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= StreetJob.human_attribute_name(:id) %></th>
      <th><%= StreetJob.human_attribute_name(:status) %></th>
      <th><%= StreetJob.human_attribute_name(:operation_type) %></th>
      <th><%= StreetJob.human_attribute_name(:scheduled_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @street_jobs.each do |street_job| %>
      <tr>
        <td><%= link_to street_job.id, street_job_path(street_job) %></td>
        <td><%= street_job_status street_job.status %></td>
        <td><%= street_job_operation_type street_job.operation_type %></td>
        <td><u><strong><%=l street_job.scheduled_at, format: :long %></strong></u></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_street_job_path(street_job), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      street_job_path(street_job),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_street_job_path,
            :class => 'btn btn-primary' %>
