<%- model_class = StreetJob -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:jobable_id) %>:</strong></dt>
  <dd><%= @street_job.jobable_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:jobable_type) %>:</strong></dt>
  <dd><%= @street_job.jobable_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:annotation) %>:</strong></dt>
  <dd><%= @street_job.annotation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @street_job.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @street_job.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operation_type) %>:</strong></dt>
  <dd><%= @street_job.operation_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheduled_at) %>:</strong></dt>
  <dd><%= @street_job.scheduled_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              street_jobs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_street_job_path(@street_job), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              street_job_path(@street_job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
