// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#central-page{
  min-height: 500px
}
footer{
  margin-top: 20px
}
