<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@product[:name]) %>
  <%= f.input :code %>
  <%= error_span(@product[:code]) %>
  <%= f.input :buy_price %>
  <%= error_span(@product[:buy_price]) %>
  <%= f.input :sell_price %>
  <%= error_span(@product[:sell_price]) %>
  <%= f.input :description %>
  <%= error_span(@product[:description]) %>
  <%= f.input :distributor_id %>
  <%= error_span(@product[:distributor_id]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
<% end %>
