<%= simple_nested_form_for @sale, wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.association :user, collection: User.all %>
  <%= error_span(@sale[:user_id]) %>
  <%= f.association :client, collection: Client.order(:name) %>
  <%= error_span(@sale[:client_id]) %>
  <%= f.association :sale, collection: (f.object.client_id ? Sale.finished_and_not_received.where(client_id: f.object.client_id).order(:sell_at) : []) %>
  <%= error_span(@sale[:sale_id]) %>
  <%= f.input :sell_at %>
  <%= error_span(@sale[:sell_at]) %>
  <%= f.input :best_day_to_receive, input_html: {min: 1, max: 31} %>
  <%= error_span(@sale[:best_day_to_receive]) %>
  <div class="well">
    <h4>Produtos</h4>
    <table class="table table-striped table-bordered" id="sale_products">
      <thead>
        <tr>
          <th class="col-sm-3"><%= SaleProduct.human_attribute_name(:product) %></th>
          <th class="col-sm-3"><%= SaleProduct.human_attribute_name(:detail) %></th>
          <th class="col-sm-2"><%= SaleProduct.human_attribute_name(:price) %></th>
          <th class="col-sm-2"><%= SaleProduct.human_attribute_name(:quantity) %></th>
          <th class="col-sm-2"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <%= f.fields_for :sale_products, :wrapper => false do |sale_product_form| %>
      <tr class="fields">
        <td><%= sale_product_form.text_field :product_name, data: { autocomplete: autocomplete_product_name_sales_path } %></td>
        <td><%= sale_product_form.text_field :detail %></td>
        <td><%= sale_product_form.text_field :price %></td>
        <td><%= sale_product_form.text_field :quantity %></td>
        <td><%= sale_product_form.link_to_remove "Remover", class: 'btn btn-danger btn-xs' %></td>
      </tr>
      <% end %>
    </table>
    <p><%= f.link_to_add "Adicionar produto", :sale_products, class: 'btn btn-xs btn-primary', data: { target: "#sale_products" } %></p>
  </div>

  <%= f.input :money_on_create %>
  <%= error_span(@sale[:money_on_create]) %>
  <%= f.input :discount, input_html: {max: 20, min: 0} %>
  <%= error_span(@sale[:discount]) %>
  <%= f.input :payment_division, input_html: {min: 1, max: 12} %>
  <%= error_span(@sale[:payment_division]) %>
  <%= link_to "Calcular Parcelas", '#', class: 'btn btn-primary' %>
  <hr />
  <%= f.input :payment_division_sell_price %>
  <%= error_span(@sale[:payment_division_sell_price]) %>
  <%= f.input :annotation %>
  <%= error_span(@sale[:annotation]) %>
  <%= f.input :payment_method, collection: sale_payment_methods_options %>
  <%= error_span(@sale[:payment_method]) %>
  <%= f.input :status, collection: sale_statuses_options %>
  <%= error_span(@sale[:status]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sales_path, :class => 'btn btn-default' %>
<% end %>
