<div class="page-header">
  <h1><%=t '.title', :default => Sale.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Sale.human_attribute_name(:id) %></th>
      <th><%= Sale.human_attribute_name(:user_id) %></th>
      <th><%= Sale.human_attribute_name(:client_id) %></th>
      <th><%= Sale.human_attribute_name(:payment_method) %></th>
      <th><%= Sale.human_attribute_name(:money_on_create) %></th>
      <th><%= Sale.human_attribute_name(:payment_division) %></th>
      <th><%= Sale.human_attribute_name(:payment_division_sell_price) %></th>
      <th><%= Sale.human_attribute_name(:amount_sold) %></th>
      <th><%= Sale.human_attribute_name(:status) %></th>
      <th><%= Sale.human_attribute_name(:sell_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= link_to sale.id, sale_path(sale) %></td>
        <td><%= sale.user.try(:name) %></td>
        <td><%= sale.client_name %></td>
        <td><%= sale_payment_method sale.payment_method %></td>
        <td><%= sale.money_on_create %></td>
        <td><%= sale.payment_division %></td>
        <td><%= sale.payment_division_sell_price %></td>
        <td><%= sale.amount_sold %></td>
        <td><%= sale_status sale.status %></td>
        <td><u><strong><%=l sale.sell_at if sale.sell_at %></strong></u></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      sale, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sale_path(sale),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sale_path,
            :class => 'btn btn-primary' %>
