<div class="page-header">
  <h1><%=t '.title', :default => Sale.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <% if @sale.pre_sale %>
  <dt><strong><%= Sale.human_attribute_name(:pre_sale_id) %>:</strong></dt>
  <dd><%= @sale.pre_sale.name %></dd>
  <% end -%>
  <dt><strong><%= Sale.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @sale.user.try(:email) %></dd>
  <dt><strong><%= Sale.human_attribute_name(:client_id) %>:</strong></dt>
  <dd><%= @sale.client_name %></dd>
  <dt><strong><%= Sale.human_attribute_name(:sell_at) %>:</strong></dt>
  <dd><%= l @sale.sell_at, format: :long %></dd>
  <dt><strong><%= Sale.human_attribute_name(:best_day_to_receive) %>:</strong></dt>
  <dd><%= l(@sale.best_day_to_receive, format: :long) if @sale.best_day_to_receive %></dd>
  <dt><strong><%= Sale.human_attribute_name(:annotation) %>:</strong></dt>
  <dd><%= @sale.annotation %></dd>
  <dt><strong><%= Sale.human_attribute_name(:payment_method) %>:</strong></dt>
  <dd><%= sale_payment_method @sale.payment_method %></dd>
  <dt><strong><%= Sale.human_attribute_name(:money_on_create) %>:</strong></dt>
  <dd><%= @sale.money_on_create %></dd>
  <dt><strong><%= Sale.human_attribute_name(:payment_division) %>:</strong></dt>
  <dd><%= @sale.payment_division %></dd>
  <dt><strong><%= Sale.human_attribute_name(:payment_division_sell_price) %>:</strong></dt>
  <dd><%= @sale.payment_division_sell_price %></dd>
  <dt><strong><%= Sale.human_attribute_name(:discount) %>:</strong></dt>
  <dd><%= @sale.discount %></dd>
  <dt><strong><%= Sale.human_attribute_name(:amount_sold) %>:</strong></dt>
  <dd><%= @sale.amount_sold %></dd>
  <dt><strong><%= Sale.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @sale.amount %></dd>
  <dt><strong title="<%= Sale.human_attribute_name(:offer_to_client) %>"><%= Sale.human_attribute_name(:offer_to_client) %>:</strong></dt>
  <dd><%= @sale.offer_to_client %></dd>
  <dt><strong><%= Sale.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= sale_status @sale.status %></dd>
</dl>

<div class="btn-group">
<%= link_to t('.back', :default => t("helpers.links.back")),
              sales_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sale_path(@sale), :class => 'btn btn-default' %>
<% unless @sale.finished_and_received? %>
  <%= link_to t('Lançar recebimento'), new_daily_cash_path(sale_id: @sale.id), :class => 'btn btn-primary' %>
<%   end -%>
</div>
